* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

.header {
    padding: 1rem;
    font-family: 'sans-serif', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgoldenrod;
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    padding: 1.5rem;
}


.header h1 {
    display: inline-block;
    font-size: 3rem;
}

.header h1 .seo {
    color: whitesmoke;
}

.header div {
    padding-top: 1rem;
    margin-right: 1.5rem;
    float: right;
    font-family: 'serif', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    
}

.header div ul {
    list-style-type: none; 
}

.header div ul li {
    display: inline-block;
    margin-left: 2rem;
}

a {
    color: whitesmoke;
    text-decoration: none;
    list-style-type: disc;
}

p {
    font-size: 1.5rem;
}

.hero {
    height: 90em;
    width: 100%;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    background-image: url("../Assets/00B22B7E-13BF-429E-BC09-0CB49D116C2D.JPG");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 1rem;
}

.float-right {
    float: right;
    margin-left: 1rem;
}

.content {
    width: 95%;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}


.about-me {
    margin-bottom: 1.5rem;
    padding: 2rem;
    height: 16em;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgoldenrod;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: transform .2s ease-in-out;
}

.resume {
    margin-bottom: 1.5rem;
    padding: 2rem;
    height: 16.5em;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgoldenrod;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: transform .2s ease-in-out;
}

.contact-me {
    margin-bottom: 1.5rem;
    padding: 2rem;
    height: 10em;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgoldenrod;
    color: whitesmoke;
    font-size: 2rem;
    transition: transform .2s ease-in-out;
}

.about-me:hover {
    transform: scale(1.1);
    z-index: 1;
}

.resume:hover {
    transform: scale(1.1);
    z-index: 1;
}

.contact-me:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* 
.about-me img {
    max-height: 200px;
}

.resume img {
    max-height: 200px;
}

.contact-me img {
    max-height: 200px;
} */

.about-me h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.resume h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.contact-me h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.resume p {
    font-family: cursive;
    font-size: 1.5rem;
    color: black;
    display: block;
    margin-bottom: 1.5rem;
}

.resume a {
    display: block;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(27, 26, 26);
    text-decoration: underline;
}

.about-me p {
    font-family: cursive;
    font-size: 1.4rem;
    color: black;
}
.content div {
    list-style-type: none;
}
.contact-me p {
    list-style-type: disc;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 1.5rem;
}

.contact-me a {
    display: block;
    margin-bottom: 1rem;
}
